@use 'variables';

.main-404 {
    font-family: variables.$main-font;
    text-align: center;
    .not-found-404 {
        color: variables.$main-red-color;
        font-size: 300px;
    }

    .not-found-info {
        color: variables.$main-red-color;
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .return-to-home {
        color: variables.$main-black-color;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 20px;
        .anchor-footer {
            color: variables.$main-black-color;
        }
    }
}
