@use '../../styles/variables';

.open-button {
    background-color: variables.$main-red-color;
    color: white;
    width: 100%;
    text-align: left;
    height: 3.5rem;
    font-weight: bold;
    font-size: 23px;
}

.collapse-container {
    margin-bottom: 20px;
}