@use '../../styles/variables';

@mixin display ($justify: space-between) {
    display: flex;
    justify-content: $justify;
}

@mixin position {
  width: 100%;
  margin-left: 0;  
}

@mixin host-name {
    color: variables.$main-red-color;
    font-weight: 400;
    text-align: right;
}

$title-weight: 400;

.property-detail {
    &__cover {
        background-color: variables.$main-background-color;
        border-radius: 15px;
        width: 100%;
        height: 50vh;
    }

    &__description {
        width: 80%;
        @media screen and (max-width: 996px) {
                width: 100%;
            }
        &-container {
            @include display;
            @include position;

            @media screen and (max-width: 996px) {
                flex-direction: column;
            }
        }

        &-title {
            color: variables.$main-red-color;
            font-weight: $title-weight;
            margin-bottom: 3%;
        }

        &-location {
            color: variables.$main-black-color;
            padding-top: 0;
            margin-top: 0;
        }

        &-and-amenities {
            display: flex;
            justify-content: space-between;
            margin-left: -11%;
            margin-right: -4%;
        }

        &-tags {
            @include display (flex-start);
            gap: 1%;
            &-tag {
                background-color: variables.$main-red-color;
                color: variables.$main-button-text-color;
                pointer-events: none;

                @media screen and (max-width: 996px) {
                    padding-inline: 8.5%;
                }
            }
        }
    }

    &__rating {
        font-size: 1.7rem;
        @media screen and (max-width: 996px) {
            padding-top: 7%;
            width: 30%;
        }
    }

    &__host {
        aspect-ratio: 1 / 1;
        @include display;
        margin-bottom: -20%;
        @media screen and (max-width: 996px) {
           margin-bottom: -5%;
        }
            &-and-rating {
                @media screen and (max-width: 996px) {
                    @include display;
                    flex-direction: row-reverse;
                }
            }

            &-name {
                margin-right: 10%;
                margin-top: 10%;
                &--first {
                    @include host-name;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                &--last {
                    @include host-name;
                    margin-top: 0;
                    padding-top: 0;
                }
            }

            &-picture {
                width: 60%;
                height: 60%;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 10%;
            }
        }
}

.fa-active {
    color: variables.$main-red-color;
    padding-right: 3%;

}

.fa-inactive {
    color: #e3e3e3;
    padding-right: 3%;
}